kind: DeploymentConfig
apiVersion: apps.openshift.io/v1
metadata:
  name: vote
  labels:
    app: voting-app
spec:
  triggers:
  - type: ConfigChange
  replicas: 1
  selector:
    app: vote
  template:
    metadata:
      labels:
        app: vote
    spec:
      securityContext:
        runAsUser: 1001
      containers:
        - name: vote
          image: mgrillet/vote:latest
